## Notebook to figure out how to make use of our provided data

In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_excel("SE4ALLEXCEL.xlsx")
df.shape[0]

2849

Since we are only needing to use total/rural electricity access, drop all rows that aren't that.

In [19]:
elecDf = df.loc[(df["Indicator Code"] == "1.2_ACCESS.ELECTRICITY.RURAL") | 
                (df["Indicator Code"] == "1.1_ACCESS.ELECTRICITY.TOT")]
elecDf.shape[0]

518

In [20]:
elecDf.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
1,BES Islands,BES,Access to electricity (% of rural population w...,1.2_ACCESS.ELECTRICITY.RURAL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BES Islands,BES,Access to electricity (% of total population),1.1_ACCESS.ELECTRICITY.TOT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Nauru,NRU,Access to electricity (% of rural population w...,1.2_ACCESS.ELECTRICITY.RURAL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Nauru,NRU,Access to electricity (% of total population),1.1_ACCESS.ELECTRICITY.TOT,100.0,100.0,100.0,100.0,100.0,100.0,...,99.8,99.254089,99.205658,99.175644,99.0,99.162201,99.162445,99.172058,99.0,99.202805
23,Niue,NIU,Access to electricity (% of rural population w...,1.2_ACCESS.ELECTRICITY.RURAL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Seeing the head of the data frame, it seems that there are a LOT of NaNs. Now, we don't want to drop all rows if they contain only one NaN, but it would be useless data to have a row filled with no NaNs. Therefore, let's drop the rows that contain NaNs for all of the year columns.

In [23]:
elecDf.dropna(how = 'all', subset = elecDf.columns[4:], inplace = True)

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

Now what I want to do is interlace countries' total and rural electriccity access measurements.

In [22]:
elecDf.groupby("Country Code").apply(pd.)

SyntaxError: invalid syntax (<ipython-input-22-3ae5f95a927e>, line 1)

Now I gotta get get a json file out of this data frame

In [27]:
elecDf.reset_index(drop=True, inplace=True)

In [39]:
cols_to_drop = [list(elecDf.columns)[0], list(elecDf.columns)[2]]
cols_to_drop

['Country Name', 'Indicator Name']

In [32]:
elecDf.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Nauru,NRU,Access to electricity (% of total population),1.1_ACCESS.ELECTRICITY.TOT,100.00,100.00,100.00,100.00,100.00,100.00,...,99.800000,99.254089,99.205658,99.175644,99.000000,99.162201,99.162445,99.172058,99.0,99.202805
1,Afghanistan,AFG,Access to electricity (% of rural population w...,1.2_ACCESS.ELECTRICITY.RURAL,NaN,NaN,NaN,NaN,NaN,NaN,...,18.916223,32.500000,31.845157,32.400000,33.380110,63.800000,58.423667,87.800000,64.2,78.961074
2,Afghanistan,AFG,Access to electricity (% of total population),1.1_ACCESS.ELECTRICITY.TOT,0.01,0.01,0.01,0.01,0.01,0.01,...,33.748680,42.400000,44.854885,42.700000,43.222019,69.100000,67.259552,89.500000,71.5,84.137138
3,Albania,ALB,Access to electricity (% of rural population w...,1.2_ACCESS.ELECTRICITY.RURAL,100.00,100.00,100.00,100.00,100.00,100.00,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.0,100.000000
4,Albania,ALB,Access to electricity (% of total population),1.1_ACCESS.ELECTRICITY.TOT,100.00,100.00,100.00,100.00,100.00,100.00,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.0,100.000000

In [49]:
elecDf.drop(cols_to_drop, axis = 1, inplace = True)

TypeError: drop() got an unexpected keyword argument 'indent'

In [51]:
elecDf.to_json(path_or_buf = "country_electricity.json", orient = 'records', indent = 2)

TypeError: to_json() got an unexpected keyword argument 'indent'

I want a Json to have a list of countries, and for each country a %total and %rural. That's it.

In [18]:
# elecDf.drop('index')
elecDf.columns()

TypeError: 'Index' object is not callable