## Notebook used to figure out how to effectively get the data json.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel("SE4ALLEXCEL.xlsx")
df.shape[0]

2849

Since we are only needing to use total/rural electricity access, drop all rows that aren't that.

In [3]:
elecDf = df.loc[(df["Indicator Code"] == "1.2_ACCESS.ELECTRICITY.RURAL") | 
                (df["Indicator Code"] == "1.1_ACCESS.ELECTRICITY.TOT")]
elecDf.shape[0]

518

In [4]:
elecDf.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
1,BES Islands,BES,Access to electricity (% of rural population w...,1.2_ACCESS.ELECTRICITY.RURAL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BES Islands,BES,Access to electricity (% of total population),1.1_ACCESS.ELECTRICITY.TOT,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Nauru,NRU,Access to electricity (% of rural population w...,1.2_ACCESS.ELECTRICITY.RURAL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Nauru,NRU,Access to electricity (% of total population),1.1_ACCESS.ELECTRICITY.TOT,100.0,100.0,100.0,100.0,100.0,100.0,...,99.8,99.254089,99.205658,99.175644,99.0,99.162201,99.162445,99.172058,99.0,99.202805
23,Niue,NIU,Access to electricity (% of rural population w...,1.2_ACCESS.ELECTRICITY.RURAL,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

The only things we really need is the country code, the rural electricity access time series, and the total elec. access time series.

So we can just define a new dataframe that has just that.

In [5]:
total_lists_nums = []
rural_lists_nums = []

#want to populate new_columns 1.2RURAL, 1.1TOT with corresponding list
for i, vals in elecDf.iterrows():
    if i%2 == 0:
        rural_lists_nums.append(vals.values[4:]) #get the time series values
    else:
        total_lists_nums.append(vals.values[4:])
        
#no need to worry about if rural or total lists are the same length, since the dataframe is guaranteed to have
#an even number of rows, since there are 2 rows for each country
#just need to create new df with only unique country codes
finalDf = pd.DataFrame({"COUNTRY.CODE": elecDf["Country Code"].unique()}) #note that pandas.unique doesn't sort the values unlike np.unique
finalDf["ACCESS.ELECTRICITY.RURAL"] = rural_lists_nums
finalDf["ACCESS.ELECTRICITY.TOTAL"] = total_lists_nums

In [6]:
finalDf.head()

,COUNTRY.CODE,ACCESS.ELECTRICITY.RURAL,ACCESS.ELECTRICITY.TOTAL
0,BES,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ..."
1,NRU,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[100.0, 100.0, 100.0, 100.0, 100.0, 100.0, 100..."
2,NIU,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ..."
3,WLF,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ..."
4,CCA,"[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ..."

Now just get a json file out of this data frame.

In [7]:
finalDf.to_json(path_or_buf = "country_electricity.json", orient = 'records', lines = True)